@font-face {
    font-family: ProximaNova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
    src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
    font-weight: 700;
    font-style: normal
}

body {
    color: #363636;
    margin: 0;
    height: 100vh;
}

a {
    cursor: crosshair;
    text-decoration: none;
    color: #363636;
}

.scroll span {
    font-family: 'ProximaNova';
    font-size: 0.85em;
    margin-bottom: 7px;
}

.scroll {
    color: white;
    margin: 0 auto;
    width: 10%;
    height: 47vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    left: 45%;
}

.scroll_arrow {
    width: 12px;
    height: 12px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    transform: rotate(135deg);
    transition: all 0.3s ease-in-out;
    border-color: white;
}

.contents {
    background-color: white;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner {
    top: 0;
    width: 100%;
    height: 60vw;
    background: url('img/main_bn.jpg') no-repeat center center fixed;
    background-size: cover;
}


/*header*/

.navbar {
    font-size: 0.9em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 157px;
}

.navbar_menu {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.navbar_menu li {
    padding: 0px 20px;
}

.navbar_menu li:nth-child(2) {
    padding-right: 0px;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}


/*mainwork_uiux*/

strong {
    font-family: 'ProximaNova';
}

h3 {
    font-family: 'ProximaNova';
    font-size: 1.5em;
    color: #0075FF;
    flex-shrink: 0;
    text-align: center;
}

h1 {
    font-size: 3.3em;
    font-family: 'ProximaNova';
    font-weight: 400;
    margin: 0;
    /*
    margin: 100px 0px 0px 175px;
      */
}

h2 {
    font-size: 1.7em;
    font-family: 'ProximaNova';
    font-weight:normal;
    margin: 0;
}

p {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 1.6;
    letter-spacing: -0.02em;
}

.title {
    padding-top: 200px;
    max-width: 75%;
    height: 85%;
    margin: 0 auto;
}

.title h1 {
    padding-top: 90px;
}

.uiux {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.uiux p {
    width: 65%;
    min-width: 300px;
}

.label {
    font-size: 14px;
    padding: 5px 16px 8px 16px;
    color: white;
    background-color: #0075FF;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.item {
    flex-grow: 1 300px;
    width: 38%;
    margin: 40px 0px 25px 30px;
}

.hover_area {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.item .img-box:hover .hover_area {
    opacity: 100;
    transition: all 0.3s ease-in-out;
}

.item .img-box:hover .label {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.area_none {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.hover_area a {
    margin-top: 20px;
    display: block;
    color: white;
    width: 50%;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
}

.hover_area span {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.05em;
    display: block;
    text-align: center;
    line-height: 50px;
}

.item:nth-child(1) {
    margin-left: 0;
}

.item:nth-child(3) {
    margin-left: 0;
}

.item .img-box {
    position: relative;
    background-color: #F3F3F3;
    width: 100%;
}

.item .img-box>img {
    width: 100%;
    
}

.item h2 {
    margin: 12px 0 8px 0;
}


/*marketing web design*/

.title2 {
    padding: 90px 0 50px 0;
    max-width: 75%;
    height: 85%;
    margin: 0 auto;
}

.market {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 200px;
}

.img_wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.market img {
    max-width: 460px
}

.product {
    position: relative;
    width: 100%;
    min-width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4b4b4e;
    height: 60vh;
}

.sns {
    position: relative;
    min-width: 300px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #182687;
    height: 60vh;
}

.hover_area2 {
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.product:hover .hover_area2 {
    opacity: 100;
    transition: all 0.3s ease-in-out;
}

.sns:hover .hover_area2 {
    opacity: 100;
    transition: all 0.3s ease-in-out;
}

.product:hover strong {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.sns:hover strong {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.area_none2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hover_area2 a {
    margin-top: 20px;
    display: block;
    color: white;
    width: 50%;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
}

.hover_area2 span {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.05em;
    display: block;
    text-align: center;
    line-height: 50px;
}

.market .product strong {
    margin-top: 3%;
    display: block;
    color: white;
    transition: all 0.3s ease-in-out;
}

.market .sns strong {
    position: absolute;
    bottom: 10%;
    left: 4%;
    display: block;
    color: white;
    transition: all 0.3s ease-in-out;
}


/*Editorial*/

.title3 {
    margin-bottom: 50px;
}

.box {
    width: 100%;
    position: relative;
}

.back_bg {
    background-color: #F3F3F3;
}

.back_bg h2 {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.05em;
    font-weight: 600;
    text-align: right;
    padding: 50px 60px 0 60px;
}

.back_bg p {
    /*display: none;*/
    padding: 13px 60px 0 60px;
    text-align: right;
}

.back_bg a {
    margin: 13px 60px 0 60px;
    float: right;
}

.back_bg img {
    position: absolute;
    max-width: 100vw;
    top: 180px;
}

.back_bg:hover {
    background-color: #0075FF;
    color: white;
}

.back_bg:hover a {
    color: white;
}

.label2 {
    font-size: 14px;
    padding: 5px 16px 8px 16px;
    color: white;
    background-color: #0075FF;
    position: absolute;
    top: 0;
    left: 0;
}

.back_bg:hover .label2 {
    background-color: #363636;
}

.back_bg:hover .label2,
a,
.back_bg {
    transition: all 0.3s ease-in-out;
}


/*footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 150px;
    background-color: #363636;
}

.footer p {
    text-align: center;
    color: #bdbdc2;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}

.footer p span {
    letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0px;
    }
    .contents {
        margin: 20px;
    }
    .banner {
        height: 88%;
    }
    .navbar {
        justify-content: center;
    }
    .navbar_menu li {
        font-size: 0.85em;
        width: 65px;
        padding: 0px 10px;
    }
    /*uiux*/
    .item {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0;
    }
    .item p {
        font-size: 0.85em;
    }
    .item h2 {
        font-size: 1.4em;
    }
    .item .text {
        width: 300px;
    }
    .item>.img-box {
        width: 100%;
    }
    .title h3 {
        margin: 0;
    }
    .title {
        padding-top: 100px;
    }
    .title h1 {
        padding-top: 50px;
    }
    .uiux {
        margin-bottom: 0;
    }
    /*marketing*/
    .market {
        margin-bottom: 0;
    }
    .product img {
        width: 240px;
    }
    .sns img {
        width: 220px;
    }
    .product {
        max-width: 100%;
    }
    .product,
    .sns {
        height: 200px;
    }
    .market .product strong {
        bottom: 10%;
        left: 20%;
        font-size: 0.85em;
    }
    .market .sns strong {
        bottom: 8%;
        left: 5%;
        font-size: 0.85em;
    }
    /*editorial*/
    .title3 {
        margin: 100px 0px 50px 0px;
    }
    h1 {
        font-size: 1.8em;
        margin: 0px;
        text-align: center;
    }
    h3 {
        font-size: 1.1em;
    }
    .swiper-slide .back_bg {
        height: 200px;
    }
    .title3 .back_bg a {
        z-index: 3;
        text-align: center;
        width: 101px;
        margin: 10px 110px 0 120px;
    }
    .back_bg p {
        display: none;
    }
    .back_bg h2 {
        font-size: 1.7em;
        text-align: center;
        margin: auto 0;
        padding-right: 0;
        padding-left: 0;
    }
    .back_bg strong {
        font-size: 1.3em;
        text-align: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    /*illustration*/
    .illust .title4 {
        padding-top: 100px;
    }
    .illust .title4 h1 {
        padding-top: 50px;
    }
    .illust_box {
        flex: none;
    }
    .illust_box a,
    img {
        width: 49vw;
    }
    .imgs_wrap {
        width: 98vw;
    }
    .illustration {
        width: 100vw;
    }
    .footer {
        line-height: 1.4em;
        font-size: 0.85em;
    }
}

@media screen and (max-width: 1024px) {
    .market img {
        width: 300px;
    }
    .product,
    .sns {
        height: 400px;
    }
    .back_bg img {
        top: 33%;
    }
}

@media screen and (max-width: 1280px) {
    .scroll {
        display: none;
    }
    .back_bg p {
        display: none;
    }
    .back_bg h2 {
        font-size: 1.7em;
        text-align: center;
        margin: auto 0;
        padding-right: 0;
        padding-left: 0;
    }
    .back_bg strong {
        font-size: 1.3em;
        text-align: center;
    }
    .market img {
        max-width: 350px;
    }
}


/*swaiper*/

.swiper-theme-color {
    color: #363636;
}

.swiper {
    width: 100%;
    height: 85%;
    margin: 0 auto;
}

.swiper-autoheight .swiper-slide {
    height: 1000px;
}

.swiper-slide {
    /* Center slide text vertically */
    cursor: grab;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.swiper-slide .back_bg {
    width: 100%;
    height: 460px;
    object-fit: cover;
}

.swiper-slide .back_bg img {
    max-width: 100%;
    /*min-width: 300px;*/
    bottom: 0;
}

.editorial {
    max-width: 74%;
    height: 75%;
    margin: 0 auto;
}


/*illustration*/

.title4 {
    padding-top: 200px;
    max-width: 75%;
    height: 85%;
    margin: 0 auto;
}

.title4 h1 {
    padding: 90px 0 50px 0;
}

.illustration {
    margin: 0 auto;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgs_wrap {
    font-size: 0;
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}

.illust_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex: 1 330px;
    background-color: #363636;
}

.illust_box span {
    opacity: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.05em;
    font-size: 16px;
}

.illust_box>a,
img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.illust_box:hover img {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.illust_box:hover span {
    opacity: 100;
    transition: all 0.3s ease-in-out;
}